@using MudBlazor
@using TaskBoard.Components

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="typeof(Layout.MainLayout)" />
    </Found>
    <NotFound>
        <p>Seite nicht gefunden!</p>
    </NotFound>
</Router>